body {color: #000000;margin: 5px; padding: 0px;background-color:#000000;}
body td, p, div {font-family: verdana, arial, helvetica; font-size: 11px;color: #000000;}

table {width: 100%; margin: 0px; padding: 0px;  }
table td {padding: 0px; border-width: 0px; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif;  }

a:link    {color: #000000; text-decoration: none}
a:active {color: #000000; text-decoration: none}
a:visited {color: #000000; text-decoration: none}
a:hover  {color: #000000; text-decoration: underline}
fieldset {
border: 0px solid #fff;
}
input { background-color: #323232; 
border-color: #CBCBCB; 
color: #FFFFFF; 
font-family: verdana,  arial, ms sans serif;  
font-size: 10pt;}
div#bg {
	background-image: url(images/layout.gif);width:765px;
	background-repeat: no-repeat;
}
div#body {
	background-image: url(images/bg.gif);
	background-position: center;
	width:765px;
	
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #000000;
}
div#logo {width:500px; height:620px;}
.item {}
.itemHead {padding: 3px;   border-bottom: 1px dashed #000000; color: #000000;   text-align: center;  }
.itemInfo {text-align: center; }
.itemTitle a {font-weight: bold;  background-color: transparent;  text-align: center;  }
.itemPoster {font-size: 90%; }
.itemPostDate {font-size: 90%;}
.itemStats {font-size: 90%;}
.itemBody {padding-left: 5px; padding-right: 5px; }
.itemText {margin-top: 0px; margin-bottom: 0px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: left; padding:3px;}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%; font-style:italic;}

table#top {margin-bottom:8px;}
th { padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

td#leftcolumn {width: 120px; font-size:12px;  padding: 310px 4px 0px 2px;      }
td#leftcolumn th {color: #000000; vertical-align: middle;}
td#leftcolumn .blockTitle {padding: 0px 10px 2px 0px; color: #000000; font-weight: normal;   text-align: left;  font-variant: small-caps;  border-bottom-color: #000000;  border-bottom-style: solid;  border-bottom-width: 1px;       }
td#leftcolumn .blockContent {padding: 3px 4px;  line-height: 120%;margin-bottom:8px;width:120px;overflow: hidden;  color:#000000;  }

td#centercolumn {font-size: 10px;  border : 0px none;  padding : 0px 0px;  padding-left : 3px;   }

td#centercolumn th {  vertical-align: middle; }
td#centerCcolumn {padding: 0px 3px 1px 3px;   padding-top : 0px;  }
td#centerCcolumn .blockTitle {padding: 0px; color: #000000; font-weight:bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centerCcolumn div.blockContent {padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 0px;text-align:left;border: 1px dashed #000000;}

td#centerLcolumn {width: 50%; padding: 3px 3px 3px 3px; }
td#centerLcolumn .blockTitle {padding: 0px; color: #000000; font-weight: bold; margin-top:0px;}
td#centerLcolumn div.blockContent {padding: 3px; text-align: left;  border: 1px dashed #000000; }

td#centerRcolumn {width: 50%; padding: 3px 3px 3px 3px;}
td#centerRcolumn .blockTitle {padding: 0px 4px 2px 0px; color: #000000; font-weight: bold; margin-top: 0px;}
td#centerRcolumn div.blockContent {padding: 3px;   text-align: left;border: 1px dashed #000000;  }

div#content { text-align: left; padding: 10px 8px 1px 8px; width:480px;  overflow: auto;color:#000000;}
div#content input {background-color: #323232; 
border-color: #CBCBCB; 
color: #ffffff; 
font-family: verdana,  arial, ms sans serif;  
font-size: 10pt;	
}

div#content textarea {
	width: 200px;
}
td#rightcolumn {width: 120px; color:#000000;font-size:12px;padding-top:228px;padding-left: 2px;  padding-right: 4px; }
td#rightcolumn th {color: #000000; vertical-align: middle;}
td#rightcolumn .blockTitle {padding: 0px 10px 2px 0px; color: #000000; font-weight: normal;   text-align: left;  font-variant: small-caps;  border-bottom-color: #000000;  border-bottom-style: solid;  border-bottom-width: 1px;       }
td#rightcolumn .blockContent {padding: 3px 3px 3px; line-height: 120%; color:#000000;margin-bottom:8px;}

tr#footerbar {text-align:center; }
tr#footerbar td {border-bottom:1px solid black; height:5px;}
td#mainmenu a {display: block; margin: 0; padding: 4px;}
td#mainmenu a:hover {}
td#mainmenu a.menuTop {padding-left: 3px;}
td#mainmenu a.menuMain {padding-left: 3px;}
td#mainmenu a.menuSub {padding-left: 9px; }

td#usermenu a {display: block; margin: 0; padding: 4px;}
td#usermenu a:hover { }
td#usermenu a.menuTop {}



.outer {border: 1px solid #000000;}
.head { padding: 5px; font-weight: bold;  background : none; border: 1px solid #000000;}
.even {padding: 5px;border: 1px solid #000000;}
.odd { padding: 5px;border: 1px solid #000000;}
.foot {padding: 3px; font-weight: bold;border: 1px solid #000000;}
tr.even td {padding: 5px;}
tr.odd td { padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #F5F1E6; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #F5F1E6; font-family: Verdana, Arial, Helvetica, sans-serif; color: #8E292D; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #FFFFFF; font-weight:bold; border: 1px solid #000000; background-color: #323232; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #FFFFFF; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}
#footer { padding: 3px;   border: 1px dashed #000000; color: #000000;  background-image: url(images/div.jpg);  text-align: center;margin-top:10px; margin-bottom:10px;margin-left:12px; margin-right:10px;}
#footer td {text-align:center;}
/* Used mainly for Shoutbox module*/
.sideboxcontent{
	color:#FFFFFF;
	font-size: 10px;
}
.sideboxcontent  a:link {
	color:#FFFFFF;
	font-size: 10px;
}
.sideboxcontent  a:active {
	color:#FFFFFF;
	font-size: 10px;
}
.sideboxcontent  a:hover {
	color:#FFFFFF;
	font-size: 10px;
}
.sideboxcontent  a:visited {
	color:#FFFFFF;
	font-size: 10px;
}